h1{
    text-align: center;
}
.container{
    height: 540px;
    width: 460px;
    background: black;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
p{
    color: white;
    margin: 10px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    

}
#screen{
    background-color: rgb(212, 208, 208);
    height: 80px;
    width: 440px;
    margin: 5px;
    font-size: 4rem;
    text-align: right;
    border-radius: 10px;
}
 .button{
    height: 70px;
    width: 92px;
    font-size: 2.5rem;
    margin:10px ;
    border-radius: 10px;
    background-color: rgb(212, 208, 208);
    color: black;
 }
 .clear{
    background-color: rgb(249, 6, 6);
 }
 .operator{
    background-color: grey;
 }
 .button:hover{
    border:3px solid red ;
 }